[submodule "third_party/ghostty"]
	path = third_party/ghostty
	url = https://github.com/ghostty-org/ghostty
[submodule "third_party/xterm.js"]
	path = third_party/xterm.js
	url = https://github.com/xtermjs/xterm.js
